/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Aug, 2015, 5:23:09 PM
    Author     : Mukul
*/
 body, h1, h2, h3, h4, h5, p, ul, ol, li, input, textarea { margin:0; padding:0; }
        body{ font:16px 'Roboto', sans-serif, Arial; background:#f5f5f5; color:#424242; }
        a:focus, input:focus, button:focus, img{ outline:none; }
        a{ text-decoration:none; }
        img{ max-width:100%; }
        h1{ color:#e81e1e; margin-bottom:20px; font:lighter 31px 'Lato', sans-serif; }
        p{ margin-bottom:15px; }
        ul{ list-style:none; }
        table{ border-collapse:collapse; }

        *, *:before, *:after{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }

        .clearfix:before, .clearfix:after, .sec-row:before, .sec-row:after { display:table; content:""; }
        .clearfix:after, .sec-row:after{ clear:both; height:0; overflow:hidden; }

        /*********************Login************************/
        .login-bg{ background:url(../images/login-bg.jpg) no-repeat center fixed ; background-size:cover; }
        #login-bx{ width:450px; height:400px; background:#FFFFFF; margin:auto; top:0; bottom:0; position:absolute; left:0; right:0; border-radius:4px;  }
        #login-bx .top-logo{ background:#E72325; text-align:center; padding:11px 0; border-radius:4px 4px 0 0; }
        .logo-sec-bottom{ background:#d71717; color:#FFFFFF; text-align:center; text-transform:uppercase; padding:9px 0; position:relative; line-height:14px; font:18px 'Lato', sans-serif; }
        .logo-sec-bottom:after{ content:''; display:block; width:0; height:0; position:absolute; border-left:8px solid; border-right:8px solid; border-top:14px solid #d71717; bottom:-14px; left:50%; margin-left:-7px; }
        .login-form{ padding:30px; }

        .form .form-group, .form-inline .form-group{ padding-top:6px; }
        .form-group{ margin-bottom:25px; position:relative; }
        .form-group .form-control:not(.static) ~ label, .form-group .form-control:not(.static) ~ .form-control-line { transition:all 0.2s ease 0s; }
        .form-group .form-control ~ label, .form-group .form-control ~ .form-control-line { bottom:0; left: 0; pointer-events: none; position: absolute;  width: 100%; }
        .form-group .form-control ~ label::after, .form-group .form-control ~ .form-control-line::after{ background-color:#eb0038; bottom:0; content:""; height:2px; left:45%; position:absolute;  transition:all 0.2s ease 0s; visibility:hidden; width:10px; }
        .form-group textarea.form-control ~ label::after{ bottom:4px; }
        .form-group .form-control ~ label{ font-size:12px; margin-bottom:0; top: 0; color:#999999; font-size:16px; }
        .form-group .form-control:focus{ border-color:rgba(12, 12, 12, 0.12); outline:0; }
        .form-group .form-control:focus ~ label{ color:#E72325;  opacity:1; }
        .form-group .form-control:focus ~ label::after, .form-group .form-control:focus ~ .form-control-line::after { left:0;  visibility:visible;  width:100%;}
        .floating-label .form-control ~ label{ font-size:15px; top:9px; }
        .floating-label .form-control:focus ~ label, .floating-label .form-control.textfocus ~ label{ font-size:13px !important; top:-3px; }
        .form-control{ width:100%; background:none repeat scroll 0 0 transparent; border-color:-moz-use-text-color -moz-use-text-color rgba(12, 12, 12, 0.12); border:0; border-bottom:2px solid #dddcdc; box-shadow:none; color:#0c0c0c; font-size:15px; height:37px; padding:0; }
        .form-control.placeholder{ color:#9c9697; }
        .form-control.placeholder option{ color:#0c0c0c; }
        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { background-color:transparent; border-bottom-color:rgba(12, 12, 12, 0.2); border-bottom-style:dashed; }
        .form-control[disabled]::-moz-placeholder, .form-control[readonly]::-moz-placeholder, fieldset[disabled] .form-control::-moz-placeholder { color:#b5b0b1; opacity:1; }
        .form-control[disabled] ~ label::after, .form-control[readonly] ~ label::after, fieldset[disabled] .form-control ~ label::after, .form-control[disabled] ~ .form-control-line::after, .form-control[readonly] ~ .form-control-line::after, fieldset[disabled] .form-control ~ .form-control-line::after{ display:none; }
        textarea.form-control{ padding:4px 0; }

        .sbmt-btn{ width:100%; background:#e34747; color:#FFFFFF; font:lighter 25px 'Lato', sans-serif; padding:11px 0 13px 0; border-radius:4px; border:0; box-shadow:0 5px #b21c1c; position:relative; cursor:pointer; }
        .sbmt-btn:hover{ box-shadow:0 4px #b21c1c; top:2px; }		
        .sbmt-btn:active{ box-shadow:0 0px #b21c1c; top:6px; }


        /*********************** header *****************************/
        #header{ background:#e81e1e; }
        .header-logo{ background:#d30404; height:77px; float:left; padding:0 20px; text-align:center; }
        .header-cap{ float:left; color:#FFFFFF; font-size:24px; padding:28px 0 0 22px; line-height:16px; box-sizing:border-box; }
        .log-out{ display:inline-block; float:right; background:url(../images/logout.png) no-repeat center #D30404; width:18px; height:21px; padding:38px; }

        @media (max-width:550px){
            .header-logo{ width:100%; }
            .header-cap{ width:100%; text-align:center; padding:20px; }
        }

        /*********************** content ****************************/
        #content-wrapper{ padding:50px; font-family:'Roboto light', sans-serif  }
        .sec-row{ margin-bottom:30px; }
        .sec-row:last-child{ margin-bottom:0; }

        .content-col{ width:60%; float:left; padding:0 30px 10px 0; }
        .content-col p{ font-size:20px; line-height:30px; }
        .btn-cov{ margin-top:60px; text-align:center; }
        .btn-cov .sbmt-btn{ width:230px; }

        .recent-proj{ width:40%; float:left; }
        .recent-proj .cover{ background:#FFFFFF; border-radius:4px; border:1px solid #dedede; box-shadow:3px 3px 6px 2px #e3e3e3 }
        .recent-proj .sec-head{ background:#ebebeb; padding:15px 25px; border-bottom:1px solid #dedede; }
        .recent-proj .sec-head h3{ float:left; font-size:17px; }
        .recent-proj .sec-head .vw-lnk{ float:right; font:15px 'Roboto thin', sans-serif; color:#a3a3a3 }
        .recent-proj .sec-head .vw-lnk:hover{ color:#e81e1e }
        .recent-proj .proj-list{ padding:15px 25px 25px 25px; }
        .recent-proj .proj-list li{ border-bottom:1px dashed #d4d4d4; background:url(../images/bullet1.jpg) no-repeat 10px 6px; padding:10px 0 10px 30px; font:15px 'Roboto light', sans-serif; }
        .recent-proj .proj-list li a{ color:#424242; }
        .recent-proj .proj-list li a:hover{ color:#e81e1e; }

        .feature-col{ background:#FFFFFF; border-radius:4px; border:1px solid #dedede; box-shadow:3px 3px 6px 2px #e3e3e3; padding:20px; }
        .fea-title-row{ padding-bottom:30px; position:relative; }
        .fea-title-n1{ width:50%; float:left; padding-right:5%; }
        .fea-title-n2{ width:50%; float:left; padding-left:5%; padding-right:1.6%; }
        .fea-title-n1 span, .fea-title-n2 span{ color:#e81e1e; }
        .fea-title-row .qst{ position:absolute; right:0; width:36px; height:30px; border-radius:15px 0 0 15px; right:-20px; background:#e2e2e2 url(../images/question-ico.png) no-repeat 6px 5px; }
        .fea-title-row .qst:hover{ background:#e2e2e2 url(../images/question-ico2.png) no-repeat 6px 5px; }
        .fea-title-row .qst a{ display:block; height:30px; }
        .fea-opt-row ul{ display:block; position:relative }
        .fea-opt-row li{ float:left; width:5.88235294%; font-size:14px; position:relative; z-index:2; }
        .fea-opt-row li input[type="radio"]{ display:none; }
        .fea-opt-row li input[type="radio"] ~ label{ background:url(../images/radio-btn-1.png) no-repeat top center; padding-top:40px; display:block; text-align:center; }
        .fea-opt-row li.mdl-point input[type="radio"] ~ label{ background:url(../images/radio-btn-3.png) no-repeat top center; }
        .fea-opt-row li.range input[type="radio"] ~ label{ background:url(../images/radio-btn-2-1.png) no-repeat top center; }
        .fea-opt-row li input[type="radio"]:checked ~ label{ background:url(../images/radio-btn-2.png) no-repeat top center; }
        .fea-opt-row li span{ display:block; }
        .fea-opt-row ul:before{ content:''; display:block; height:0; border-bottom:1px dashed #d4d4d4; position:relative; top:15px; z-index:0 }
        .fea-opt-row ul li.active-line{ display:block; height:0; border-bottom:1px dashed #e81e1e; position:absolute; top:15px; z-index:1; left:50%; transition:all .2s }

        .m-pad{ margin:0 -15px }
        .col-6{ width:50%; float:left; padding:0 15px; }

        .tbl-wrap{  }
        .tbl-wrap h2{ color:#e81e1e; margin-bottom:20px; font:lighter 31px 'Lato', sans-serif; }
        .tbl-wrap p{ font-size:20px; line-height:30px; }
        .tbl-cover{ overflow-x:auto; margin-top:10px; box-shadow:3px 3px 6px 2px #e3e3e3; }

        .table-style1{ background:#FFFFFF; font-size:14px; outline:1px solid #E4E4E4; }
        .table-style1 td { padding:12px 15px; }
        .table-style1 thead td{ background:#ebebeb; font-size:16px; }

        .table-style2{ background:#FFFFFF; font-size:14px; }
        .table-style2 td { padding:12px 15px; text-align:center }
        .table-style2 thead td, .table-style2 td:first-child{ background:#ebebeb; font-size:16px; }

        span.rec-red{ background:#e34747; color:#FFFFFF; border-radius:4px; box-shadow:0 3px #b21c1c; min-width:32px; display:inline-block; height:25px; line-height:26px; }
        .tbl-blw-con{ margin-top:20px; font-size:17px; color:#272727; }
        .tbl-blw-con span.n1{ float:left; }
        .tbl-blw-con span.n2{ float:right; }

        @media (max-width:1100px){
            #content-wrapper{ padding:25px; }
            .col-6{ width:100%; padding:0 15px; }
            .sec-row .col-6:first-child{ margin-bottom:30px; }
        }

        .project-list{ background:#FFFFFF; border-radius:4px; border:1px solid #dedede; box-shadow:3px 3px 6px 2px #e3e3e3; }
        .project-list h3{ background:#ebebeb; padding:15px 25px; border-bottom:1px solid #dedede; font-size:17px; }
        .project-list .proj-list{ padding:15px 25px 25px 25px; }
        .project-list .proj-list li{ border-bottom:1px dashed #d4d4d4; background:url(../images/bullet1.jpg) no-repeat 10px 14px; padding:12px 0 12px 30px; font:15px 'Roboto light', sans-serif; }
        .project-list .proj-list li:after{ content:''; display:block; height:0; clear:both; overflow:hidden; }

        .project-list .proj-list li span{ display:inline-block; float:right; }
        .project-list .proj-list li span a{ color:#424242; display:inline-block; border:1px solid #d2d2d2; border-radius:4px; font-size:13px; padding:5px 5px; margin:0 5px; }
        .project-list .proj-list li span a:hover{ color:#e81e1e; }
        .project-list .proj-list li .proj-name{ float:left; border:none; font-size:15px; padding:8px 25px 0 0; }
        .project-list .proj-list li .proj-name a{ border:0; padding:0;  font-size:15px; margin:0; }
        .project-list .proj-list li a.dup{ background:url(../images/file.png) no-repeat 6px 4px; padding-left:25px; }
        .project-list .proj-list li a.edt{ background:url(../images/pen.png) no-repeat 7px 4px; padding-left:30px; }
        .project-list .proj-list li a.vw{ background:url(../images/eye.png) no-repeat 8px 5px; padding-left:33px; }
        .project-list .proj-list li a.dlt{ background:url(../images/delete.png) no-repeat 8px 5px; padding-left:27px; }

        .tittle2{ color:#e81e1e; font: lighter 25px 'Lato', sans-serif; }
        .tittle3{ color:#e81e1e; font: lighter 20px 'Lato', sans-serif; margin-bottom:15px; }

        .pagination{ text-align:right; margin-top:20px; }
        .buttun_style1, .span-block{ border:1px solid #D30404; background-color:#F2F2F2; padding:4px 9px; color:#E81E1E; font-size:14px; line-height:17px; cursor:pointer; }
        .span-block{ background:#FFFFFF; cursor:default; }
        .switch-btn{ margin-bottom:10px; border:1px solid #E0E0E0; display:inline-block; border-radius:4px; padding:0px 3px; box-shadow:1px 1px 6px -1px #C3C3C3; }
        .mfp-bg{ opacity:0.5; filter:alpha(opacity=50); }
        .btn-type-01 { min-width:250px; width:auto; background:#e34747; color:#FFFFFF; font:lighter 22px 'Lato', sans-serif; padding:9px 15px 11px 15px;  border-radius:4px; border:0; box-shadow:0 5px #b21c1c; position:relative; cursor: pointer; float:right; }

        /*************************** show list *************************/
        #floatng-list{ position:absolute; width:300px; min-height:350px; border:1px solid #BFBFBF; box-shadow:1px 1px 2px -1px #8A8A8A; background:#FFFFFF; top:0; left:0; display:none; padding:15px; font-size:13px; }
        #floatng-list:after{ position:absolute; content:''; width:0; height:0; border-top:6px solid transparent; border-bottom:6px solid transparent; border-right:17px solid #BFBFBF; left:-17px; top:-1px; }
        .dlt-btn{ display:inline-block; border:1px solid #d2d2d2; border-radius:4px; width:22px; height:22px; background: url(../images/delete.png) no-repeat center; }
        #floatng-list .dlt-btn{ float:right; }
        ul.list-1 li{ border-bottom:1px dashed #E2E2E2; padding:7px 0; } 
        ul.list-1 li:after{ content:''; display:block; height:0; overflow:hidden; clear:both; }
        ul.list-1 li span.txt{ display:inline-block; float:left; padding-right:7px; }

        /*************************** footer ****************************/
        #footer-sec{ background:#e1e1e1; padding:17px 20px; text-align:center; color:#1e1e1e; font-size:13px; }
        #footer-sec p{ margin:0; }
        .footer-fixed{ position:fixed; width:100%; bottom:0; }


        /************************** popup *****************************/
        .popupbox{ position:fixed; width:100%; top:0; bottom:0; background-color:rgba(0,0,0,0.50); z-index:1000; display:none; }
        .popupbox .bx-cover{ width:640px; border-radius:4px; background:#FFFFFF; padding:35px; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); }
        .popupbox.open{ display:block; }
        .popupbox.open .bx-cover{ animation:popupmove .3s; -webkit-animation:popupmove .3s; }
        .popupbox.close .bx-cover{ animation:popupmove2 .3s; -webkit-animation:popupmove2 .3s; }
        .popupbox.close { animation:fd .3s; -webkit-animation:fd .3s; }
        .close-btn{ display:block; position:absolute; width:11px; height:11px; right:10px; top:10px; background:url(../images/close.png) no-repeat; cursor:pointer; }

        .popupbox.type1 h2{ color:#e81e1e; margin-bottom:5px; font:lighter 25px 'Lato', sans-serif; }
        .popupbox.type1 p{ font-size:16px; line-height:30px; color:#424242; margin-bottom:5px; }
        .pop-form-tbl{  }
        .pop-form-tbl td{ padding:0 6px; vertical-align:top; }
        .pop-form-tbl tr td:first-child{ padding-left:0; padding-top:15px; }
        .pop-form-tbl tr td span{ text-align:center; }

        /**new*/
        .pop-form-tbl tr td span.err-block{ text-align:left; }
        .pop-form-tbl .form-group{ margin-bottom:15px; padding-top:12px; }

        .pop-form-tbl textarea.form-control{ height:inherit; min-height:50px; }
        .mnone{ margin-bottom:0 !important; }
        .addmore-btn{ color:#424242; display:inline-block; border:1px solid #d2d2d2; border-radius:4px; font-size:13px; padding:5px 8px; margin:0 5px; background:url(../images/add.png) no-repeat 6px 4px;  padding-left:25px; }
        .addmore-btn:hover{ color:#e81e1e }
        .pad-none{ padding:0 0 15px 0 !important; text-align:right; }
        .scrl-tbl{ height:252px; overflow-y:auto; }
        .rec-line{ background:#DDDDDD; color:#FFFFFF; min-width:25px; height:24px; /*border:1px solid #A9A9A9;*/ line-height:25px; font-size:12px;  border-radius:4px; display:inline-block; margin-top:15px; text-align:center; }
        .pop-form-tbl tr:hover td a.rec-line{ background:none; border:1px solid #E34747; color:#E34747; }
        .pop-form-tbl tr td:last-child{ width:5%; }
        .err-block{ font-size:12px; color:#e81e1e; margin-bottom:10px; display:block; text-align:left !important; }
        .err-block:empty{ margin-bottom:0; }

        /**new*/
        @-moz-document url-prefix() {
            .pop-form-tbl .form-group textarea.form-control ~ label::after {
                bottom: 1px;
            }
        }

        @-webkit-keyframes popupmove {
            0%   {top:0%;}
            100% {top:50%;}
        } 
        @keyframes popupmove {
            0%   {top:0%;}
            100% {top:50%;}
        }
        @-webkit-keyframes popupmove2 {
            0%   {top:50%; opacity:1;}
            100% {top:0%; opacity:0;}
        } 
        @keyframes popupmove2 {
            0%   {top:50%; opacity:1;}
            100% {top:0%; opacity:0;}
        }
        @-webkit-keyframes fd {
            0%   { background-color:rgba(0,0,0,0.50); }
            100% {background-color:rgba(0,0,0,0.0); }
        } 
        @keyframes fd {
            0%   { background-color:rgba(0,0,0,0.50); }
            100% {background-color:rgba(0,0,0,0.0); }
        }
        
        .fea-opt-row li label{
            cursor: pointer;
        }
